@import '../styles/extends';

.button,
.selected {
  @extend %i-medium-14-lg;
  gap: 16px;
  width: 100%;
  color: inherit;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.icon {
  height: 16px;
  width: 16px;

  @media (max-width: 768px) {
    height: 14px;
    width: 14px;
  }
}