@import '../../shared/styles/mixins';
@import '../../shared/styles/extends';
@import '../styles/mixins';

.button {
  @include flex($align: center, $justify: center, $direction: column);
  @extend %i-regular-16-lg;
  font-weight: 700;
  max-width: 138px;
  width: 100%;
  padding: 18px 18px 10px 18px;
  background: var(--twilight-veil);
  border: 2px solid var(--overlay-gray-a60);
  border-radius: 10px;
  gap: 7px;
  color: inherit;

  &_icon {
    height: 48px;
    width: 48px;
  }

  &_price {
    @extend %i-regular-14-lg;
    font-weight: 700;
    color: var(--green-600);
  }
}