@import '../../shared/styles/extends';

.input {
  @extend %i-regular-14-lg;
  border: 1px solid var(--overlay-gray-a60);
  border-radius: 8px;
  background: var(--overlay-dark-a50);
  width: 100%;
  padding: 8px 12px;
  color: inherit;

  &::placeholder {
    @extend %i-regular-14-lg;
    color: var(--gray-200);
  }
}