@import '../../shared/styles/mixins';
@import '../../shared/styles/extends';
@import '../../shared/styles/variables';

.elements {
  @include flex($align: center, $justify: flex-start);
  margin-bottom: 4px;
  gap: 8px;

  @media (max-width: 768px) {
    gap: 6px;
    margin-bottom: 3px;
  }
}

.icon {
  width: 16px;
  height: 16px;

  @media (max-width: 768px) {
    width: 14px;
    height: 14px;
  }
}

.input {
  width: 100%;
  transition: $transition-fast;
  box-shadow: none;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: $shadow-soft;
    filter: brightness(1.06);
  }
  
  &::placeholder {
    color: var(--placeholder-color, var(--gray-300));
  }
}

.label {
  @extend %i-medium-14-sm;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
  }
}
