@import '../../shared/styles/extends';

.input {
  @extend %i-regular-14;
  width: 100%;
  background: var(--blue-900);
  border-radius: 8px;
  border: 1px solid var(--gray-500);
  padding: 9.5px 12.5px;
  

  &::placeholder {
    color: var(--gray-300);
  }
}

.label {
  margin-bottom: 4px;
}