@import '../styles/extends';
@import '../styles/variables';
@import '../styles/mixins';

.button {
  @extend %i-medium-16;
  @include flex($align: center, $justify: center);
  font-weight: 300;
  gap: 10px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;
  color: inherit;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-strong;
    filter: brightness(1.04);
  }

  @media (max-width: 768px) {
    gap: 8px;
  }
}