@import '../styles/mixins';
@import '../styles/variables';
@import '../styles/extends';

.button {
  @include flex($align: center, $justify: center);
  @extend %i-medium-14-lg;
  width: 100px;
  height: 29px;
  background: $gradient-blue-to-purple;
  border: none;
  border-radius: 14px;
  color: inherit;

  @media (max-width: 768px) {
    height: 26px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 14px;
    padding: 0 8px;
  }
}

.text {
  @extend %i-regular-14-lg;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}