@import '../styles/extends';
@import '../styles/variables';
@import '../styles/mixins';

.button {
  @include flex($align: center, $justify: center);
  @extend %i-medium-14-lg;
  width: 100px;
  height: 29px;
  background: $gradient-darkBlueDeepPurple;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 14px;
  color: inherit;
  transition: $transition-fast;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $white;
    filter: brightness(1.06);
  }
  @media (max-width: 768px) {
    height: 26px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 14px;
    padding: 0 8px;
  }
}

.button_active {
  border: 1px solid $gray-100;
  box-shadow: $shadow-glow;
}

.text {
  @extend %i-regular-14-lg;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
