@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  border-radius: $radius-2xl;
  padding: 24px;
  border: 1px solid $emerald-mist;
  background: $gradient-transparent-green-to-blue;
  margin-bottom: 24px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;
  max-width: 485px;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }
}

.top {
  @include flex($align: center, $justify: flex-start);
  gap: 12px;
  margin-bottom: 42px;
  
  &_infoBlock {
    display: flex;
    flex-direction: column;

    &_firstText {
      @extend %text-body-md-bold;
    }

    &_secondText {
      @extend %text-body-sm-medium;
      color: $gray-100;
    }
  }
}

.gradientBlock {
  @include flex($align: center, $justify: center);
  background: $overlay-dark-a50;
  width: 40px;
  height: 40px;
  border-radius: $radius-lg;
  transition: $transition-fast;
  box-shadow: none;
  &:hover { box-shadow: $shadow-soft; filter: brightness(1.08); }

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.content {
  border-radius: $radius-lg;
  padding: 16px;
  background: $twilight-veil;
  margin-bottom: 40px;
  height: 205px;
}

.rows {
  @include flex($align: center, $justify: space-between);

  &_name {
    @extend %text-body-md-medium;
    color: $gray-100;
  }

  &_box {
    @include flex($align: center);
    gap: 8px;

    &_icon {
      width: 16px;
      height: 16px;
    }

    &_time {
      @extend %text-body-md-bold;
    }
  }

  &_priceTag {
    @extend %text-title-lg-bold;
    background: $gradient-green-mint;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
