%i-regular-30 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.4px;
}

%i-regular-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%i-medium-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.15px;
}

%i-regular-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.15px;
}

%i-regular-10 {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
}

%i-medium-14-lg {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%i-regular-14-lg {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%i-regular-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

%i-bold-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%i-bold-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
}

%i-medium-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%bai-bold-65 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 700;
  font-size: 65.1px;
  line-height: 0px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

%i-semi-bold-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.44px;
}

%i-regular-16-lg {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%i-regular-14-lg {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%i-medium-14-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.15px;
}

%i-medium-14-lg {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%i-regular-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

%i-medium-12 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}
