%text-heading-lg {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

%text-heading-lg-bold {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.4px;
  font-weight: 700;
}

%text-title-lg-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
}

%text-title-lg-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.44px;
}

%text-body-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%text-body-md-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%text-body-md-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}

%text-body-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%text-body-sm-tight {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.15px;
}

%text-body-sm-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

%text-body-sm-medium-tight {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.15px;
}

%text-body-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

%text-body-xs-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

%text-caption-xs {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0px;
}
