@mixin flex (
  $align: center,
  $justify: center,
  $direction: row,
  $gap: null,
  $wrap: nowrap,
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;

  @if $gap != null {
    gap: $gap;
  }
}