//Gradients
$gradient-dark-green-purple: linear-gradient(
  135deg,
  var(--gray-900) 0%,
  var(--green-a40) 30%,
  var(--purple-300) 100%
);

$gradient-green-blue-purple: linear-gradient(
  135deg,
  var(--green-100) 0%,
  var(--blue-300) 50%,
  var(--purple-200) 100%
);

$gradient-green-to-blue: linear-gradient(
  90deg,
  var(--green-300) 0%,
  var(--blue-500) 100%
);

$gradient-screen-overlay: linear-gradient(
  180deg,
  var(--blue-700) 0%,
  var(--purple-a20) 100%
);

$gradient-blue-to-purple: linear-gradient(
  90deg,
  var(--blue-500) 0%,
  var(--purple-200) 100%
);

$gradient-green-to-green: linear-gradient(
  90deg,
  var(--green-300) 0%,
  var(--green-400) 100%
);

$gradient-transparent-green-to-blue: linear-gradient(
  135deg,
  var(--green-a10) 0%,
  var(--overlay-blue-a10) 100%
);

$gradient-transparent-blue-purple: linear-gradient(
  90deg,
  var(--blue-200) 0%,
  var(--purple-100) 100%
);

$gradient-transparent-overlay: linear-gradient(
  0deg,
  var(--transparent),
  var(--transparent)
);

$gradient-overlay-mix: linear-gradient(
  90deg,
  var(--green-a40) 0%,
  var(--blue-700) 50%,
  var(--purple-a30) 100%
);
