@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.form {
  &_start {
    width: 100%;
    margin-left: 16px;

    &_glow {
      button {
        box-shadow: 0 0 20px $green-glow-1-a60, 0 0 40px $green-glow-2-a40;
        animation: cashOutGlow 2s ease-in-out infinite;
      }
    }
  }

  &_box {
    @include flex($align: center);
    margin-bottom: 24px;
  }

  &_text {
    @extend %text-body-md-medium;
    margin-bottom: 8.5px;
    color: $gray-100;
  }

  &_groupButtons {
    @include flex($align: center, $justify: center);
    gap: 8px;
  }
}

@keyframes cashOutGlow {
  0%,
  100% {
    box-shadow: 0 0 20px $green-glow-1-a60, 0 0 40px $green-glow-2-a40;
  }
  50% {
    box-shadow: 0 0 30px $green-glow-1-a80, 0 0 60px $green-glow-2-a60;
  }
}
