@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.cityBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.roadBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  object-fit: cover;
}

.truck {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: auto;
  z-index: 3;
  object-fit: contain;

  &_accelerating {
    animation: truckAccelerate 1s ease-out forwards;
  }

  &_moving {
    animation: truckMove 0.1s linear infinite;
  }
}

@keyframes truckAccelerate {
  0% {
    left: -20%;
    transform: translateX(-50%);
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes truckMove {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  25% {
    transform: translateX(-50%) translateY(-1px);
  }
  50% {
    transform: translateX(-50%) translateY(0);
  }
  75% {
    transform: translateX(-50%) translateY(1px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
