@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  width: 100%;
  border: 1px solid $blue-600;
  border-radius: 14px;
  padding: 24px;
  background: $overlay-dark-a50;
  width: 653px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}