@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.resultTitle {
  @extend %i-regular-30;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 2px;

  &_win {
    color: $green-600;
  }

  &_fail {
    color: $red-100;
  }
}

.screen {
  max-width: 610px;
  height: 317px;
  width: 100%;
  background: $twilight-veil;
  border-radius: 6px;
  margin-bottom: 17px;
  position: relative;
  overflow: hidden;
  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  &_idle {
    background: $gradient-darkBlueDeepPurple;
  }

  &_crashed {
    animation: policeLightsFlash 0.3s infinite;
  }
}

.gameContent {
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes policeLightsFlash {
  0%,
  100% {
    background: $twilight-veil;
  }
  25% {
    background: $red-239-a15;
  }
  50% {
    background: $twilight-veil;
  }
  75% {
    background: $blue-info-a15;
  }
}