@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.cityBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.roadBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  object-fit: cover;
}

.truck {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: auto;
  z-index: 3;
  object-fit: contain;
}

.winOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winImage {
  width: 75%;
  height: 75%;
  object-fit: contain;
}