@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: $twilight-veil;
  border-radius: 10px;
  margin-bottom: 16px;
}

.top {
  @include flex($align: center, $justify: flex-start);
  gap: 8px;
  margin-bottom: 10px;

  .title {
    @extend %i-bold-16;
  }

  &_icon {
    width: 24px;
    height: 24px;
  }
}

.rows {
  display: grid;
  gap: 7px;

  &_row {
    @include flex($align: center, $justify: space-between);

    &_text {
      @extend %i-regular-14-lg;
      color: $gray-200;
    }

    &_sum {
      @extend %i-medium-14-lg;
      font-weight: 700;

      &_greenColor {
        color: $green-600;
      }

      &_blueColor {
        color: $blue-200;
      }
    }
  }

  &_line {
    max-width: 264px;
    width: 100%;
    height: 1px;
    background: $gray-500;
  }
}
