@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: $twilight-veil;
  border-radius: 10px;
  margin-bottom: 16px;
}

.top {
  @include flex($align: center, $justify: flex-start);
   gap: 8px;
   margin-bottom: 8px;

  &_label {
    @extend %i-medium-16;
    color: $gray-25;
  }

  &_icon {
    width: 24px;
    height: 24px;
  }
}

.fieldBox {
  @include flex($align: center, $justify: center);
  margin-bottom: 16px;
}

.miniBtns {
  @include flex($align: center, $justify: space-between);
  margin-bottom: 16px;
}

.mines {
  &_groupLabels {
    @include flex($align: center, $justify: flex-start);
    margin-bottom: 16px;
  }

  &_btns {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 16px;
  }
}
