@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: _, $justify: flex-start, $direction: column);
}

.top {
  @include flex($align: center, $justify: space-between);
  margin-bottom: 16px;

  &_title {
    @extend %text-title-lg-bold;
  }

  &_labels {
    @include flex($align: center, $justify: space-between);
    gap: 16px;
  }


  &_side {
    @include flex($align: center);
    gap: 5px;

    &_text {
      @extend %text-body-md;
      color: $gray-100;
    }

    &_num {
      @extend %text-body-md-bold;

      &_secondColor {
        color: $purple-100;
      }
    }
  }
}

.screen {
  @include flex($align: _, $justify: flex-start, $direction: column);
}

.mines {
  display: grid;
  grid-template-columns: repeat(5, 90px);
  grid-template-rows: repeat(5, 90px);
  background: $gradient-dark-gray;
  border-radius: 14px;
  border: 2px solid transparent;
  padding: 26px 60px;
  gap: 10px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;
  margin-bottom: 16px;
  
  &:hover {
    box-shadow: $shadow-strong;
    border: 2px solid $purple-450;
    filter: brightness(1.04);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(2px); }
  50% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 300ms ease;
}
