@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: $twilight-veil;
  border-radius: $radius-lg;
  margin-bottom: 16px;
  background: $gradient-darkBlueDeepPurple;
}

.top {
  @include flex($align: center, $justify: flex-start);
  margin-bottom: 9px;
  gap: 5px;

  &_icon {
    width: 24px;
    height: 24px;
  }
}

.list {
  @include flex($align: flex-start, $justify: center, $direction: column);
  gap: 4px;
  
  &_item {
    @extend %text-body-sm;
    color: $gray-100;
  }
}
