@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: var(--twilight-veil);
  border-radius: 10px;
  margin-bottom: 16px;
  background: $gradient-darkBlueDeepPurple;
}

.top {
  @include flex($align: center, $justify: flex-start);
  margin-bottom: 9px;
}

.list {
  @include flex($align: flex-start, $justify: center, $direction: column);
  gap: 4px;
  
  &_item {
    @extend %i-regular-14-lg;
    color: var(--gray-100);
  }
}