@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  max-width: 298px;
}

.inner {
  display: grid;
}

.top {
  margin-bottom: 16px;
  
  &_title {
    @extend %text-title-lg-bold;
  }
}
