@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 298px;
}

.inner {
  display: grid;
}

.top {
  margin-bottom: 16px;
  
  &_title {
    @extend %i-bold-18;
    font-weight: 500;
  }
}