@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: center, $justify: space-between);
  border: 1px solid $blue-600;
  border-radius: $radius-2xl;
  padding: 24px;
  background: $overlay-dark-a50;
  transition: $transition-medium;
  max-width: 1000px;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.compartments {
  display: grid;
  grid-template-columns: 621px 298px;
  gap: 24px;
  justify-content: center;
  width: 100%;
}
