@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  max-width: 298px;
  width: 100%;

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

.inner {
  display: grid;
  gap: 0;

  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.top {
  margin-bottom: 16px;

  @media (max-width: 600px) { margin-bottom: 12px; }
  @media (max-width: 480px) { margin-bottom: 10px; }
  @media (max-width: 400px) { margin-bottom: 8px; }

  &_title {
    @extend %text-title-lg-bold;

    @media (max-width: 600px) { font-size: 20px; }
    @media (max-width: 480px) { font-size: 18px; }
    @media (max-width: 400px) { font-size: 16px; }
  }
}
