@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: var(--twilight-veil);
  border-radius: 10px;
  margin-bottom: 16px;
}

.label {
  @extend %i-medium-16;
  margin-bottom: 8px;
  color: var(--gray-25);
}

.fieldBox {
  @include flex($align: center, $justify: center);
  margin-bottom: 16px;
}

.miniBtns {
  @include flex($align: center, $justify: space-between);
  margin-bottom: 16px;
}

.mines {
  &_groupLabels {
    @include flex($align: center, $justify: flex-start);
    margin-bottom: 16px;
  }

  &_btns {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 16px;
  }
}