@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 298px;
  padding: 17px;
  background: var(--twilight-veil);
  border-radius: 10px;
  margin-bottom: 16px;
}

.title {
  @extend %i-bold-16;
  margin-bottom: 12px;
}

.rows {
  display: grid;
  gap: 7px;

  &_row {
    @include flex($align: center, $justify: space-between);

    &_text {
      @extend %i-regular-14-lg;
      color: var(--gray-200);
    }

    &_sum {
      @extend %i-medium-14-lg;
      font-weight: 700;

      &_greenColor {
        color: var(--green-600);
      }

      &_blueColor {
        color: var(--blue-200);
      }
    }
  }

  &_line {
    max-width: 264px;
    width: 100%;
    height: 1px;
    background: var(--gray-500);
  }
}
