@use '../styles/variables' as *;
@use '../styles/extends' as *;
@use '../styles/mixins' as *;

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  gap: 24px;
  max-width: 1000px;
  width: 100%;
  padding: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 653px;
    gap: 24px;
  }
}

.containerMines {
  max-width: 1500px;
}

.containerPlinko {
  max-width: 1500px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 653px;
    align-items: center;
  }
}
