@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: flex-start, $justify: flex-start, $direction: column);
  gap: 8px;
  border: 1px solid $blue-600;
  border-radius: $radius-xl;
  background: $overlay-dark-a50;
  padding: 12px;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  max-height: 200px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $gold-200;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.06);
  }
  scrollbar-width: thin;
  scrollbar-color: $gold-200 transparent;
}

.flexbox{
  @include flex($align: center, $justify: center);
  gap: 10px;
}

.title {
  @extend %text-body-sm-medium;
  color: $white;
}

.item {
  @include flex($align: center, $justify: space-between, $direction: row);
  gap: 8px;
  padding: 6px 8px;
  width: 100%;
  border-radius: $radius-sm;
  background: rgba(15, 23, 43, 0.35);
}

.multiplier {
  @extend %text-body-md;
  color: $gold-200;
}

.win {
  @extend %text-body-sm-medium;
  color: $green-200;
}
