@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: center, $justify: flex-start, $direction: column);
  gap: 12px;
  width: 100%;
  margin-bottom: 20px;
  max-height: 600px;
}

.header {
  @extend %text-body-md-medium;
  color: $white;
}

.board {
  max-width: 621px;
  height: 552px;
  background: $twilight-veil;
  background-repeat: no-repeat;
  background-clip: padding-box;
  border-radius: $radius-sm;
  overflow: hidden;
  box-shadow: $shadow-soft;
  transform: scale(0.95);
  transform-origin: top center;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .board {
    width: 100%;
    height: 420px;
  }
}
