@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: flex-start, $justify: flex-start, $direction: row);
  gap: 20px;
  border: 1px solid $blue-600;
  border-radius: $radius-2xl;
  padding: 24px;
  background: $overlay-dark-a50;
  transition: $transition-medium;
  max-width: 1500px;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    width: 100%;
    @include flex($align: stretch, $justify: flex-start, $direction: column);
  }
}

.aside {
  max-width: 280px;
  width: 100%;
  @include flex($align: stretch, $justify: center, $direction: column);
  gap: 16px;
}

.asideRight {
  width: 200px;
  @include flex($align: stretch, $justify: flex-start, $direction: column);
  gap: 16px;
}

.game {
  @include flex($align: center, $justify: center, $direction: column);
  flex: 1 2 auto;
}
