@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: center, $justify: space-between, $direction: column);
  border: 1px solid $blue-600;
  border-radius: $radius-2xl;
  padding: 24px;
  background: $overlay-dark-a50;
  transition: $transition-medium;
  max-width: 1000px;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}