@import '../../shared/styles/mixins';
@import '../../shared/styles/extends';
@import '../../shared/styles/variables';

.button,
.disabled {
  @include flex($align: center, $justify: center, $direction: column);
  @extend %i-regular-16-lg;
  font-weight: 700;
  max-width: 138px;
  width: 100%;
  padding: 18px 18px 10px 18px;
  background: $twilight-veil;
  border: 2px solid $overlay-gray-a60;
  border-radius: 10px;
  gap: 7px;
  color: inherit;
  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    transform: translateY(-2px);
    filter: brightness(1.05);
  }

  &_icon {
    height: 48px;
    width: 48px;
  }

  &_price {
    @extend %i-regular-14-lg;
    font-weight: 700;
    color: $green-600;
  }

  @media (max-width: 768px) {
    padding: 12px 12px 5px 12px;
    max-width: 100%;
  }
}

.disabled {
  opacity: 50%;
}

.button_active {
  background: $gradient-screen-overlay;
  border: 1px solid $blue-300;
  box-shadow: $shadow-glow;
}
