@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  @include flex($align: center, $justify: center);
  border-radius: $radius-xs;
  border: 1px solid $gray-450;
  width: 65px;
  height: 54px;
  box-sizing: border-box;
  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    height: 52px;
  }

  @media (max-width: 768px) {
    height: 48px;
  }

  @media (max-width: 600px) {
    height: 46px;
  }

  @media (max-width: 480px) {
    height: 42px;
  }

  @media (max-width: 400px) {
    height: 38px;
  }
}

.emoji {
  font-size: 30px;
  line-height: 1;

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 22px;
  }

  @media (max-width: 400px) {
    font-size: 20px;
  }
}

.common {
  background: $gradient-cases-common;
  box-shadow:
    0px 4px 6px -4px $gray-400,
    0px 10px 15px -3px $gray-400;
}
.uncommon {
  background: $gradient-cases-uncommon;
  box-shadow:
    0px 4px 6px -4px $green-a30,
    0px 10px 15px -3px $green-a30;
}
.rare {
  background: $gradient-cases-rare;
  box-shadow:
    0px 4px 6px -4px $blue-800,
    0px 10px 15px -3px $blue-800;
}
.epic {
  background: $gradient-cases-epic;
  box-shadow:
    0px 4px 6px -4px $purple-a20,
    0px 10px 15px -3px $purple-a20;
}
.legendary {
  background: $gradient-cases-legendary;
  box-shadow:
    0px 4px 6px -4px $purple-a20,
    0px 10px 15px -3px $purple-a20;
}
.gold {
  background: $gradient-cases-gold;
  box-shadow:
    0px 4px 6px -4px $gold-300,
    0px 10px 15px -3px $gold-300;
}
