@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  @include flex($justify: center, $align: center);
  border-radius: 4px;
  border: 1px solid $gray-450;
  min-width: 68px;
  height: 54px;

  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }

  @media (max-width: 1024px) {
    min-width: 62px;
    height: 52px;
  }

  @media (max-width: 768px) {
    min-width: 58px;
    height: 48px;
  }

  @media (max-width: 480px) {
    min-width: 54px;
    height: 42px;
  }

  @media (max-width: 400px) {
    min-width: 50px;
    height: 40px;
  }
}

.emoji {
  font-size: 30px;
  height: 36px;

  @media (max-width: 1024px) {
    font-size: 28px;
    height: 34px;
  }

  @media (max-width: 768px) {
    font-size: 26px;
    height: 32px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    height: 30px;
  }

  @media (max-width: 400px) {
    font-size: 22px;
    height: 28px;
  }
}

.common {
  background: $gradient-cases-common;
  box-shadow:
    0px 4px 6px -4px $gray-400,
    0px 10px 15px -3px $gray-400;
}
.uncommon {
  background: $gradient-cases-uncommon;
  box-shadow:
    0px 4px 6px -4px $green-a30,
    0px 10px 15px -3px $green-a30;
}
.rare {
  background: $gradient-cases-rare;
  box-shadow:
    0px 4px 6px -4px $blue-800,
    0px 10px 15px -3px $blue-800;
}
.epic {
  background: $gradient-cases-epic;
  box-shadow:
    0px 4px 6px -4px $purple-a20,
    0px 10px 15px -3px $purple-a20;
}
.legendary {
  background: $gradient-cases-legendary;
  box-shadow:
    0px 4px 6px -4px $purple-a20,
    0px 10px 15px -3px $purple-a20;
}
.gold {
  background: $gradient-cases-gold;
  box-shadow:
    0px 4px 6px -4px $gold-300,
    0px 10px 15px -3px $gold-300;
}
