@use '../../../styles/variables' as *;
@use '../../../styles/extends' as *;
@use '../../../styles/mixins' as *;

.container {
  @include flex($align: center, $justify: center);
  background: $gradient-green-blue-purple;
  width: 64px;
  height: 64px;
  border-radius: $radius-lg;
  margin: 0 auto;
  margin-bottom: 16px;

  &_logo {
    width: 40px;
    height: 40px;
  } 
}

.content {
  margin-bottom: 56.5px;

  &_title {
    @extend %text-heading-lg;
    margin-bottom: 8px;
    text-align: center;
  }

  &_text {
    @extend %text-body-md;
    text-align: center;
    color: $gray-200;
  }
}
