@use '../../../../shared/styles/variables' as *;
@use '../../../../shared/styles/extends' as *;
@use '../../../../shared/styles/mixins' as *;

.container {
  max-width: 450px;
  width: 100%;
  box-sizing: border-box;
  background: $gray-800;
  border-radius: 14px;
  padding: 32px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;
  border: 1px solid transparent;


  &:hover {
    box-shadow: $shadow-strong;
    filter: brightness(1.04);
    border: 1px solid $blue-300;
  }
}

.fields {
  &_box {
    @include flex($align: flex-start, $justify: center, $direction: column);
    width: 100%;
    margin-bottom: 12.5px;
    transition: $transition-fast;

    &:hover {
      filter: brightness(1.03);
    }
  }
}