@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/extends';


.container {
  border-radius: 14px;
  padding: 24px;
  border: 1px solid var(--emerald-mist);
  background: $gradient-transparent-green-to-blue;
  margin-bottom: 24px;
}

.top {
  @include flex($align: center, $justify: flex-start);
  gap: 12px;
  margin-bottom: 42px;
  
  &_infoBlock {
    display: flex;
    flex-direction: column;

    &_firstText {
      @extend %i-bold-16;
    }

    &_secondText {
      @extend %i-medium-14-lg;
      color: var(--gray-100);
    }
  }
}

.gradientBlock {
  @include flex($align: center, $justify: center);
  background: var(--green-a20);
  width: 40px;
  height: 40px;
  border-radius: 10px;

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.content {
  border-radius: 10px;
  padding: 16px;
  background: var(--twilight-veil);
  margin-bottom: 40px;
  height: 205px;
}

.rows {
  @include flex($align: center, $justify: space-between);

  &_name {
    @extend %i-regular-16-lg;
    font-weight: 500;
    color: var(--gray-100);
  }

  &_box {
    @include flex($align: center);
    gap: 8px;

    &_icon {
      width: 16px;
      height: 16px;
    }

    &_time {
      @extend %i-regular-16-lg;
      font-weight: 700;
    }
  }

  &_priceTag {
    @extend %i-bold-18;
    background: $gradient-green-mint;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}