@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.container {
  @include flex($justify: center, $align: center);
  border-radius: 4px;
  border: 1px solid var(--gray-450);
  min-width: 68px;
  height: 54px;
}

.common {
  background: $gradient-cases-common;
}
.uncommon {
  background: $gradient-cases-uncommon;
}
.rare {
  background: $gradient-cases-rare;
}
.epic {
  background: $gradient-cases-epic;
}
.legendary {
  background: $gradient-cases-legendary;
}
.gold {
  background: $gradient-cases-gold;
}