@import '../../../shared/styles/mixins';
@import '../../../shared/styles/variables';
@import '../../../shared/styles/extends';

.container {
  @include flex($align: center, $justify: space-between);
  background: var(--overlay-gray-a80);
  padding: 18px;
  margin-bottom: 20px;
}

.content {
  @include flex(_, $justify: space-between);
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.leftBlock {
  @include flex($align: flex-start);
  gap: 12px;

  @media (max-width: 768px) {
    justify-content: center;
    width: 100%;
  }

  &_text {
    @extend %i-regular-16-lg;
    font-weight: 700;
  }
}

.gradientBlock {
  @include flex($align: center, $justify: center);
  background: $gradient-green-blue-purple;
  width: 40px;
  height: 40px;
  border-radius: 10px;

  &_icon {
    width: 24px;
    height: 24px;
  }
}

.rightBlock {
  @include flex($align: center, $justify: center);
  gap: 12px;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}