@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';
@import '../../../shared/styles/extends';

.container {
  border: 1px solid var(--blue-600);
  border-radius: 14px;
  background: var(--overlay-dark-a50);
  padding: 24px;
}

.top {
  @include flex($align: center, $justify: flex-start);
  gap: 12px;
  margin-bottom: 40px;
}

.gradientBlock {
  @include flex($align: center, $justify: center);
  width: 40px;
  height: 40px;
  background: $gradient-purple-to-mint;
  border-radius: 10px;

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.sideBlock {
  &_title {
    @extend %i-medium-16;
    font-weight: 600;
  }

  &_subtitle {
    @extend %i-medium-14-lg;
    color: var(--gray-100);
  }
}

.players {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 8px;
  margin-bottom: 40px;
}

.line {
  width: 100%;
  border: 0.5px solid var(--gray-500);
  margin-bottom: 17.5px;
}

.rank {
  @include flex($align: center, $justify: center);

  &_text {
    @extend %i-medium-14-lg;
    color: var(--gray-100);
  }
}