@import '../../../shared/styles/mixins';
@import '../../../shared/styles/extends';

.container {
  width: 100%;
  border: 1px solid var(--blue-600);
  border-radius: 14px;
  padding: 24px;
  background: var(--overlay-dark-a50);
  max-width: 653px;
}

.screen {
  max-width: 610px;
  height: 317px;
  width: 100%;
  background: var(--midnight-navy);
  border-radius: 6px;
  margin-bottom: 17px;
}

.form {
  &_start {
    width: 100%;
    margin-left: 16px;
  }

  &_box {
    @include flex($align: center);
    margin-bottom: 24px;
  }
  
  &_text {
    @extend %i-regular-16;
    font-weight: 500;
    margin-bottom: 8.5px;
    color: var(--gray-100);
  }

  &_groupButtons {
    @include flex($align: center, $justify: center);
    gap: 8px;
  }
}
