@import '../../../shared/styles/mixins';

.container {
  @include flex($align: center, $justify: flex-start);
  width: 100%;
  border: 1px solid var(--blue-600);
  border-radius: 16px;
  padding: 4.5px;
  background: var(--overlay-dark-a50);
  gap: 12.5px;
  max-width: 653px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    padding: 4px;
    gap: 8px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
}