@use '../../../../styles/variables' as *;
@use '../../../../styles/extends' as *;
@use '../../../../styles/mixins' as *;

.container {
  border: 1px solid $blue-600;
  border-radius: $radius-2xl;
  background: $overlay-dark-a50;
  padding: 24px;
  transition: $transition-medium;
  box-shadow: $shadow-soft;

  &:hover {
    box-shadow: $shadow-strong;
    border-color: $blue-300;
    filter: brightness(1.04);
  }
}

.top {
  @include flex($align: center, $justify: flex-start);
  gap: 12px;
  margin-bottom: 40px;
}

.gradientBlock {
  @include flex($align: center, $justify: center);
  width: 40px;
  height: 40px;
  background: $gradient-purple-to-mint;
  border-radius: $radius-lg;

  &_icon {
    width: 20px;
    height: 20px;
  }
}

.sideBlock {
  &_title {
    @extend %text-body-md-medium;
  }

  &_subtitle {
    @extend %text-body-sm-medium;
    color: $gray-100;
  }
}

.players {
  @include flex($align: center, $justify: center, $direction: column);
  gap: 8px;
  margin-bottom: 40px;
}

.noPlayers {
  color: $gray-200;
  text-align: center;
}

.line {
  width: 100%;
  border: 0.5px solid $gray-500;
  margin-bottom: 17.5px;
}

.rank {
  @include flex($align: center, $justify: center);

  &_text {
    @extend %text-body-sm-medium;
    color: $gray-100;
  }
}
