:root {
  --white: #FFFFFF;
  --midnight-navy: #1A1D28;

  --gray-50:  rgba(200, 207, 203, 1);
  --gray-100: #CAD5E2;
  --gray-200: #90A1B9;
  --gray-300: #717182;
  --gray-400: #62748E;
  --gray-500: #314158;
  --gray-600: rgba(142, 142, 142, 1);
  --gray-700: #1D293D;
  --gray-800: rgba(29, 41, 61, 0.8);
  --gray-900: #0F172B;

  --blue-100: #8EC5FF;
  --blue-200: #51A2FF;
  --blue-300: #2B7FFF;
  --blue-400: #1C398E;
  --blue-500: #155DFC;
  --blue-600: rgba(20, 71, 230, 0.3);
  --blue-700: rgba(28, 57, 142, 0.3);
  --blue-800: rgba(43, 127, 255, 0.5);
  --blue-900: #0F172B;

  --green-100: #00BC7D;
  --green-200: #00D492;
  --green-300: #009966;
  --green-400: #00A63E;
  --green-500: #004F3B;
  
  --green-a10: rgba(0, 188, 125, 0.1);
  --green-a20: rgba(0, 188, 125, 0.2);
  --green-a30: rgba(0, 188, 125, 0.4);
  --green-a40: rgba(0, 79, 59, 0.4);

  --red-100: #FF6467;
  --red-200: #D4183D;
  --red-a20: rgba(251, 44, 54, 0.2);
  --red-a50: rgba(251, 44, 54, 0.5);

  --purple-100: #C27AFF;
  --purple-200: #9810FA;
  --purple-300: #59168B;
  --purple-a20: rgba(89, 22, 139, 0.2);
  --purple-a30: rgba(89, 22, 139, 0.3);

  --transparent: rgba(0, 0, 0, 0);

  --overlay-blue-a10: rgba(43, 127, 255, 0.1);
  --overlay-blue-a20: rgba(43, 127, 255, 0.2);
  --overlay-blue-a50: rgba(43, 127, 255, 0.5);

  --overlay-green-a50: rgba(0, 122, 85, 0.5);
  --overlay-dark-a50: rgba(29, 41, 61, 0.5);
  --overlay-gray-a60: rgba(49, 65, 88, 1);
  --overlay-gray-a80: rgba(15, 23, 43, 0.8);

  --twilight-veil: rgba(15, 23, 43, 0.5);
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--white);
}

body {
  background-color: var(--white);
  background: linear-gradient(135deg, var(--gray-900) 0%, var(--green-a40) 30%, var(--purple-300) 100%);
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}